.avatar {
    display: flex;
}

.avatar svg {
    height: 15vh;
}
.chooseAvatar{
    display: flex;
    flex-direction: row;
}
.span {
    font-family: blu;
    font-weight: 700;
}
.genderForm {
    
    display: flex;
}
.genderForm input {
    width: 1vw;
}
form img {
    width: 2vw;
}
