.container {
    display: flex;
    flex-direction: row;
    margin: 0px 10vw;
    width:80vw;
    justify-content: center;
    align-items: center;
}


.loginCard {
    height: 72vh !important;
}
.imagesContainer {
    display:flex;
    flex-direction: column;
    width: 50%;
    padding: 0 8vw;
}

.imagesContainer h1 {
    font-family: blu;
    color:white;
    font-size: 5em;
}


.formStyles {
    height:auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formStyles input {
    /* display: block; */
    border: none;
    border-bottom: 1px solid #2f68b6;
    margin-bottom: 3vh;
    margin-top: 2vh;
    background-color: aliceblue;
    width: 75% !important;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.formStyles input:focus {
    outline:none;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.formStyles button {
    color:whitesmoke;
    font-weight: 700;
   
}

form svg {
    height: 15vh !important;
}

.loginButton {
    color: aliceblue;
   touch-action: manipulation;
   background-color: #144c9af7;
    border: .2em solid #103f81f7    
}

.loginButton:hover {
transition: 0.1s;
background-color: #245599f7;
border: .2em solid #144c9af7 ;
}
@media only screen and (min-width: 768px) {
    .imagesContainer h1 {
        font-size: 2em;
    }
}
@media only screen and (max-width: 991px) {
    .imagesContainer {
        display:none;
    }
    .loginCard {
        height: 80vh !important;
        width: 80vw !important;;
    }
}




