.memberList {
   
}

.memberListItem {
    display:flex;
    justify-content: left;
    align-items: center;
 height: 6vh;
 width: 10vw;
 padding: 1vh 2vw 2vh 0;
 border-radius: 3vh ;
 margin-bottom: 1vh;

}
.memberListUsername{
    padding-top: 1vh;
    display: none;
    transition:  .5s;
    color: aliceblue
}

.memberListAvatar:hover + .memberListUsername {
 display: block;

}



.lastLi {
    color: transparent
}
