
.Messages-list {padding:1vh;
  max-width: 900px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  list-style: none;
  padding-left: 0;
  flex-grow: 1;
  overflow: scroll;
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  opacity:0;
  background: transparent;
  width: 0;
}

  
  .Messages-message {
    display: flex;
    margin-top: 10px;
  }
  
  .Messages-message.currentMember {
    /* justify-content: flex-end; */
    flex-direction: row-reverse;
    text-align: center;
    margin-right: 1vw;
  }
  
  .Message-content {
    display: inline-block;
  }
  
  .currentMember > .Message-content {
    align-items: flex-end;
  }
  
  .currentMember > .Message-content > .username {
    text-align: right
  }
  .Messages-message > .avatar {
    height: 50px;
    width: 35px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 10px -10px;
  }
.avatarsvg {
    height: 50px;
    width: auto
}
  
  
  .Message-content > .username {
    display: block;
    color: gray;
    font-size: 14px;
    padding-bottom: 4px;
    text-align: left
  }
  
  .Message-content > .text {
    padding:4px 14px;
    margin:4px 14px;
    width: auto;
    max-width: 440px;
    margin: 0;
    background-color: cornflowerblue;
    color: white;
    display: inline-block;
    border-radius: 22px;
  }
  
  .currentMember > .Message-content .text {
    background-color: orangered;
  }

  .newMember {
    position: sticky;
    text-align:center;
    top: 543px;
    font-size: 12px;
    color: #666;
  }

  .lastLi {
    color: transparent;
    height: 10px;
}
