.beardPicker {
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



.beardPicker button {
   display: flex;
   align-items: flex-start;
    background-color: transparent;
    padding: 0 1vw;
    height: auto;
}
.beardPicker button span {
    height: auto;
    
}
.beardPicker button svg{
    color: black;
    height: auto !important;
}