.clothingPicker {
    display: flex;
    flex-direction: row;
}

.clothingPicker img {
    width: 12px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.clothingPicker button {
    background-color: transparent;
    padding: 1vh 1vw;
}