.clothingColorForm {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: .4vh
}
.clothingColorForm button {
    height:2vh;
    width: 2vh;
    border-radius: 1vh;
}

.clothingColorForm button:focus {
    border: 2px solid #457ecef7;
 }

.black {
    background-color: black !important;
    border: 1px solid rgb(17, 17, 17);
    margin: 0.2vw;
}

.white {
    background-color: whitesmoke !important;
    border: 1px solid rgb(206, 205, 205);
    margin: 0.2vw;
}

.brown {
    background-color: #5A3825 !important;
    border: 1px solid #3c2518;
    margin: 0.2vw;
}

.blue {
    background-color: #55CEFF !important;
    border: 1px solid #46a8cf;
    margin: 0.2vw;
}

.green {
    background-color: green !important;
    border: 1px solid rgb(1, 82, 1);
    margin: 0.2vw;
}
.red {
    background-color: red !important;
    border: 1px solid rgb(201, 3, 3);
    margin: 0.2vw;
}

