.eyesPicker {
    display: flex;
    flex-direction: row;
}

.eyesPicker img {
    width: 12px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.eyesPicker button {
    background-color: transparent;
    padding: 1vh 1vw;
}