

/* CSS */

.buttonStyle{
  transition: 0.2s;
   font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  cursor: pointer;
  touch-action: manipulation;
  border: .2em solid #5984c0 ;
  border-radius:  0.25em;
  background-color: #2f68b6;
  ;
}
.buttonStyle:focus {
  transition: 0.1s;
  box-shadow: 0 0 0 3px rgba(#2f68b6, 0.5);
}

.buttonStyle:hover {
  transition: 0.1s;
  background-color: #295ba0;
  border: .2em solid #4b7cc0 ;
}

.buttonStyle:disabled,
.buttonStyle:focus:disabled,
.buttonStyle:hover:disabled,
.buttonStyle:active:disabled,
.buttonStyle:disabled {
  transition: 0.2s;
    background-color: #acb8c895 !important;
    cursor: not-allowed !important;
    border: .2em solid #dce2e995 ;
}
@media (min-width: 768px) {
  .buttonStyle {
    padding: 13px 50px 13px;
  }
}
/* }
.buttonStyle {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.buttonStyle:after {
  content: "";
  background-color: #2f68b6;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.buttonStyle:hover:after {
  top: 0px;
  left: 0px;
}

.buttonStyle:disabled,
.buttonStyle:focus:disabled,
.buttonStyle:hover:disabled,
.buttonStyle:active:disabled,
.buttonStyle:disabled {
    background-color: #acb8c895 !important;
  cursor: not-allowed !important;
}
@media (min-width: 768px) {
  .buttonStyle {
    padding: 13px 50px 13px;
  }
} */