.header {
    height: 8vh;
    width: 100vw;
    /* background-color: aqua; */
    position: absolute;
    top:0;
    padding: 2vh 10vw;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.headerLogo {
    display:flex;
    flex-direction: row;
}

.header img {
height: 6vh;
width:auto;
}

.header h1 {
    font-family: blu;
    font-size: 2em;
    color:white;
    font-weight: 100;
    padding-left: 2vw;
}

.headerAvatar {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.7em;
    color:white;
    font-weight: 200;
    padding-left: .5vw;
    padding-top: 2vh
}

.header svg  {
    height: 60px
}
.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-weight: 700;
    font-size: 12px;;
    padding: 7px 10px 7px;
   touch-action: manipulation;
   border: .2em solid #487cc5 ;
   border-radius:  0.25em;
   background-color: #224b84;
   margin-top: 2vh;
   margin-left: 4vw
}

.button svg {
    height: 12px;
    margin-right: .5vw;
}

@media only screen and (max-width: 991px) {
    .header {
        height: 4vh !important;
        padding: 3vh 10vw;
    }

    .header h1 {
        font-size: 1.3em;
        
    }

    .header img {
        height: 3vh;
        width:auto;
        }
}
