.header {
    height: 8vh;
    width: 100vw;
    /* background-color: aqua; */
    position: absolute;
    top:0;
    padding: 2vh 10vw;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.headerLogo {
    display:flex;
    flex-direction: row;
}

.header img {
height: 6vh;
width:auto;
}

.header h1 {
    font-family: blu;
    font-size: 2em;
    color:white;
    font-weight: 100;
    padding-left: 2vw;
}

.headerAvatar {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.7em;
    color:white;
    font-weight: 200;
    padding-left: .5vw;
    padding-top: 2vh
}

.header svg  {
    height: 60px
}
.button {
    height:34px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #333;
    font-weight: 700;
    font-size: 12px;;
    padding: 7px 10px 7px;
   touch-action: manipulation;
   border-radius:  17px;
   background-color: whitesmoke;
   margin-top: 2vh;
   margin-left: 4vw;
   box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
   box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.button svg {
    height: 12px;
    margin-right: .5vw;
    color: #333
}

@media only screen and (max-width: 991px) {
    .header {
        height: 4vh !important;
        padding: 3vh 10vw;
    }

    .header h1 {
        font-size: 1.3em;
        
    }

    .header img {
        height: 3vh;
        width:auto;
        }
}
